<p id="notice"><%= notice %></p>
<div class='leftside col-sm-3'></div>
<div class='center col-sm-6'>
<h1 id='tweetshead'>Tweets</h1>


    <% @tweets.each do |tweet| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 id="tweeter">
            <% if tweet.user.avatar.blank? == false %>
               <%= image_tag tweet.user.avatar.url, size: 40, class: "user-pic-nav" %>
              <% end %>&nbsp; 
            <%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %></h3>
          <p class='tweetoutput'>
            <%= tweet.message.html_safe %><br>
            <%= tweet.user_id %>
          </p>
          <div class='container tweetbtn'>
            <%= link_to 'Show', tweet, class: 'btn btn-sm btn-default tweetshow' %>
            <%= link_to 'Edit', edit_tweet_path(tweet), class: 'btn btn-sm btn-default tweetedit' %>
            <%= link_to 'Remove', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-default tweetdelete' %>
          </div>
        </div>
      </div>

    <% end %>


<br>

<%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-xs btn-default tweetnew', id: 'newtweet' %>
</div>
<div class='rightside col-sm-3'></div>