<h1>@<%= @user.username %>'s Profile & Tweets</h1>

<p><h3><%= @user.name %></h3></p><br>
<p><h4><%= @user.location %></h4></p>
<p><em><%= @user.bio %></em></p>

<p>
    <% if current_user.following.include?(@user.id) %>
        <%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-xs btn-primary", id: 'unfollow_btn' %>
    <% else %>
        <% if current_user.id != @user.id %>
            <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-xs btn-primary", id: 'follow-btn' %>
        <% end %>
    <% end %>
</p>

<% @user.tweets.reverse.each do |tweet| %>
    <div>
        <p>
            <%= image_tag current_user.avatar.url, size:25, class: "user-pic-nav" %>
            @<%= @user.username %>
        </p>
        <p class="msg">
            <%= tweet.message.html_safe %>
            &#8226; <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %>
                    <%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at > 86400 %>

        </p>
    </div>
<% end %>
